<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .collapsing 
        {
            filter: blur(4px);
        }
    </style>
    <title>Profile settings</title>
</head>
<body style="background-color: #f2f2f2;">
    <div class="container-fluid-sm" style="background-color:  #f2f2f2;;">
        <nav style="background-color:#409ad6">
            <a class="navbar-brand" style="color: white; font-family: monospace; font-size: 25px;" href="#">Matcha</a>
            <button  style="float: right; color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
                |||
            </button>
            <div id="nav" class="collapse navbar-collapse">
                <ul  style="list-style-type: none;">
                    <li >
                        <a style="color: white; font-family: monospace;" href="/profile">profile</a>
                    </li>
                    <li >
                        <a style="color: white; font-family: monospace;" href="/home">Home</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/search">Search</a>
                    </li>
                    <li>
                        <%
                            if (unread_message == "yes")
                            {
                        %>
                            <a style="color: white; font-family: monospace;" href="/chat_screen">Chat (Unread message)</a>
                        <%
                            }
                            else
                            {
                        %>
                            <a style="color: white; font-family: monospace;" href="/chat_screen">Chat</a>
                        <%
                            }
                        %>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/view_history">view_history</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/visit_history">visit_history</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/like_history">like history</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/profile_settings">Profile Setting</a>
                    </li>
                    <li>
                        <a style="color: white; font-family: monospace;" href="/logout">logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <p style="margin-left: 15%; margin-top: 90px; font-family: monospace; font-size: large; color:rgb(0, 183, 255);">User Picture</p>
        <div class="shadow" style="background-color: white; width: 70%; margin: auto; border-radius: 10px; margin-top: -10px;">
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/change_profile_pic">Change profile pic</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/upload_images">Upload images</a>
            <br />
        </div>
        <p style="margin-left: 15%; margin-top: 30px; font-family: monospace; font-size: large; color:rgb(0, 183, 255);">User Details</p>
        <div class="shadow" style="background-color: white; width: 70%; margin: auto; border-radius: 10px; margin-top: -10px;">
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_firstname">Update firstname</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_lastname">Update lastname</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_username">Update username</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_password">Update password</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_email">Update email</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_prefence">Update prefence</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_bio">Update bio</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_interests">Update interests</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_preferred_distance">Update p/d</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_age">Update age</a>
            <br />
            <a class="btn btn-info btn-block" style="width: 200px; margin: auto;" href="/profile_settings/update_location">Update location</a>
            <br />
        </div>
    </div>
<br />
<footer class="fixed-bottom" style="margin-top: 500px; background-color: #409ad6; font-family: monospace; color: white; height: 45px; text-align: center;">© 2020 matcha project</footer>
</body>
</html>