<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <title>Reset password</title>
</head>
<body style="background-image: url('../index_images/red watercolour background 1412.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid">
        <header style="width: 50%;">
            <div>
                <div class="font-weight-bold" style="font-size: 35px; color: white;">
                    <p>Matcha</p>
                </div>
            </div>
        </header>
        <div class="row">
            <form action="/reset_password" name="signup" method="post" style="margin-left: 6%;">
                <div class="row">
                    <fieldset style="border: 1px solid white; border-radius: 10px;">
                        <legend style="width: auto; color: white; position: relative; top: -3px;">Reset Passord</legend>
                            <div class="col-sm-6" style="margin-top: 150px;">
                                <%
                                    if (username == "usename field is empty!")
                                    {
                                %>
                                    <span style="color: white">Username field is empty!</span>
                                <%
                                    }
                                %>
                                <input type="text" class="form-control" name="username" placeholder="Username" style="width: 270px; height: 30px;">
                                <br />
                                <br />
                                <%
                                    if (password == "Password field is empty!")
                                    {
                                %>
                                        <span style="color: white">Password field is empty!</span>
                                <%
                                    }
                                    else if (password == 'format')
                                    {
                                %>
                                        <span style="color: white">Password format is incorrect!</span>
                                <%
                                    }
                                    else if (password == 'length')
                                    {
                                %>
                                        <span style="color: white;">Password length should be greater then or equal to 6!</p style="color: white;">
                                <%
                                    }
                                %>
                                <input type="password" class="form-control" name="password" placeholder="Enter new password" style="width: 270px; height: 30px;">
                                <br />
                                <br />
                                <input class="btn btn-outline-light text-light btn-sm" type="submit" name="submit" value="Reset Password" style="width: 270px; height: 30px;">
                                <p style="margin-left: 125px; color: white" class="font-weight-light">OR</p>
                                <a  class="btn btn-outline-light text-light btn-sm" style="margin-top: -14px; margin-bottom: 44px; width: 270px; height: 30px;" href="/login">Login</a>
                            </div>
                    </fieldset>
            </form>
            <div class="col-sm-6" style="margin-top: 150px;">
                <p class="font-weight-light" style="color: white; ">
                    Mature love says 'I need you because I love you.'” “Being deeply loved by someone gives you strength, while loving someone deeply gives you courage.” “One word frees us of all the weight and pain of life: That word is love.” “The deeper that sorrow carves into your being, the more joy you can contain
                </p>
            </div>
            <p id="target"></p>
            <p id="display"></p>
        </div>
    </div>
    <footer class="fixed-bottom" style="margin-top: 500px; background-color: #409ad6; font-family: monospace; color: white; height: 45px; text-align: center;">© 2020 matcha project</footer>
</body>
</html>