<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .collapsing 
        {
            filter: blur(4px);
        }
    </style>
    <title>Profile_pic</title>
</head>
<body style="background-color: #f2f2f2;">
    <div class="container-fluid-sm" style="background-color:  #f2f2f2;"></div>
    <header>Matcha!</header>
    <nav style="background-color:#409ad6">
        <a class="navbar-brand" style="color: white; font-family: monospace; font-size: 25px;" href="#">Matcha</a>
        <button  style="float: right; color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
            |||
        </button>
        <div id="nav" class="collapse navbar-collapse">
            <ul  style="list-style-type: none;">
                <li>
                    <a style="color: white; font-family: monospace;" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <%
    var x = 0;
    while (images[x])
    {
        let image = images[x].image;
    %>
    <div class="row" style="margin-left: 20%;">
        <form action="selected_pic" method="post">
            <img src=<%=image%> width="400px" height="300px">
            <input type="hidden" name="image" value=<%=image%>>
            <br />
            <input type="submit" name="submit" value="Set">
            <br />
            <br />
        </form>
    </div>
    <%
        x++;
    }
    %>
    <footer class="fixed-bottom" style="margin-top: 500px; background-color: #409ad6; font-family: monospace; color: white; height: 45px; text-align: center;">© 2020 matcha project</footer>
</body>
</html>