<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <style>
            .collapsing 
            {
                filter: blur(4px);
            }
        </style>
        <title>Set Profile</title>
    </head>
    <bod style="background-color: #f2f2f2;">
        <div class="container-fluid-sm" style="background-color:  #f2f2f2;">
            <nav style="background-color:#409ad6">
                <a class="navbar-brand" style="color: white; font-family: monospace; font-size: 25px;" href="#">Matcha</a>
                <button  style="float: right; color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
                    |||
                </button>
                <div id="nav" class="collapse navbar-collapse">
                    <ul  style="list-style-type: none;">
                        <li>
                            <a style="color: white; font-family: monospace;" href="/logout">logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="shadow" style="background-color: white; width: 70%; margin: auto; border-radius: 10px; margin-top: 90px;">
                <p style="margin: auto;">Welcome <%= username %>, you are successfully loggedon</p>
                <form action="/complete_profile" method="post" enctype="multipart/form-data">
                    <% if (info == "incomplete") {%>
                        <p style="color: red;">Please complete information below</p>
                    <% } %>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#gender" style="margin: auto; width: 30%">Gender</button>
                    <div style="margin-left: 46%" id="gender"class="collapse">
                        <br />
                        <input type="radio" name="gender" value="male"> Male
                        <br />
                        <input type="radio" name="gender" value="female"> Female
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#age" style="margin: auto; width: 30%">Age</button>
                    <div style="margin-left: 45%" id="age"class="collapse">
                        <br />
                        <input type="number" name="age" min="1" max="100">
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#prefence" style="margin: auto; width: 30%">Prefence</button>
                    <div style="margin-left: 45%" id="prefence"class="collapse">
                        <br />
                        <input type="radio" name="prefence" value="men"> Men
                        <br />
                        <input type="radio" name="prefence" value="women"> Women
                        <br />
                        <input type="radio" name="prefence" value="other"> Other
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#bio" style="margin: auto; width: 30%">Bio</button>
                    <div style="margin-left: 43%" id="bio"class="collapse">
                        <br />
                        <input style="width: 20%" type="text" name="bio">
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#interest" style="margin: auto; width: 30%">Interest</button>
                    <div style="margin-left: 45%" id="interest"class="collapse">
                        <br />
                        <input type="checkbox" name="interest1" value="Reading">Reading
                        <br />
                        <input type="checkbox" name="interest2" value="Singing">Singing
                        <br />
                        <input type="checkbox" name="interest3" value="Movies">Movies
                        <br />
                        <input type="checkbox" name="interest4" value="Nature">Nature
                        <br />
                        <input type="checkbox" name="interest5" value="Running">Running
                        <br />
                    </div>
                    <br />
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#distance" style="margin: auto; width: 30%">Distance</button>
                    <div style="margin-left: 45%" id="distance"class="collapse">
                        <br />
                        <input type="number" name="distance" min="1"> km
                        <br />
                    </div>
                    <br />
                    <%
                        if (large_amount_of_uploads == "true")
                        {
                    %>
                            <p style="color: red;">Upload size exceeded</p>
                    <%
                        }
                    %>
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#photo" style="margin: auto; width: 30%">Image</button>
                    <div style="margin-left: 37%" id="photo"class="collapse">
                        <br />
                        <input type="file" name="photos" multiple>
                        <input type="hidden" id="lat" name="lat">
                        <input type="hidden" id="long" name="long">
                        <br />
                    </div>
                    <%
                        if (bad_image == "bad_image")
                        {
                    %>
                            <p style="color: red;">File type not supported!</p>        
                    <%
                        }
                    %>
                    <br />
                    <hr />
                    <input class="btn btn-info btn-block" style="margin: auto; width: 30%" type="submit" name="submit" value="next">
                    <br />
                    <input class="btn btn-danger btn-block" style="margin: auto; width: 30%" type="submit" name="submit" value="skip">
                    <hr />
                </form>
                <br />
            </div>
        </div>
        <script>
            var skip = document.getElementById("skip");
            //collecting users location on permission.
            navigator.geolocation.getCurrentPosition((succ) => {
                var lat = document.getElementById("lat");
                var long = document.getElementById("long");
                lat.value = succ.coords.latitude;
                long.value = succ.coords.longitude;
            });
        </script>
        <footer class="fixed-bottom" style="margin-top: 500px; background-color: #409ad6; font-family: monospace; color: white; height: 45px; text-align: center;">© 2020 matcha project</footer>
    </body>
</html>